

.footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-logo {
    width: 10%;
    font-size: 30px;
}

.footer-info {
    width: 100%;
    font-size: 13px;
}