
.Profile {
    text-align: center;
}

.Profile .MainProfile {
    display: flex;
    justify-content: center;
}

.ProfileContent {
    text-align: start;
}

.Profile .MainProfile .mainImg {
    width: 300px;
    padding: 0 10px 10px 10px;
}
