.App {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  background-color: red;
}

.menu {
  padding: 5px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
